/** Custom styles */

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case, Chinese English friendly font
$font-family-sans-serif:      "Noto Sans SC", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:  sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

// stylelint-enable value-keyword-case
$font-size-base:          0.88rem; // Assumes the browser default, typically `16px`
$font-size-xl:                $font-size-base * 1.375;
$font-size-lg:                $font-size-base * 1.25;
$font-size-md:             $font-size-base * 1.125;
$font-size-sm:              $font-size-base * 0.875;