/* NotoSansSC-400 regular */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Noto Sans SC
    local("Noto Sans SC"),   // Full Name
    local("NotoSansSC-Regular"),           // PostScript name
    // indestructible Inter*
    local("NotoSansSC* Regular"),
    local("NotoSansSC-Regular"),
    url("fonts/vendor/NotoSansSC/NotoSansSC-Regular.otf") format("otf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* NotoSansSC-500 medium */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Noto Sans SC
    local("Noto Sans SC Medium"),
    local("Noto Sans SC Medium"),
    // indestructible Noto*
    local("Noto Sans* Medium"),
    local("NotoSansSC-Medium"),
    url("fonts/vendor/NotoSansSC/NotoSansSC-Medium.otf") format("otf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* NotoSansSC-700 bold */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Noto Sans SC
    local("Noto Sans SC Bold"),
    local("NotoSansSC-Bold"),
    // indestructible Noto Sans*
    local("Noto* Bold"),
    local("NotoSansSC-Bold"),
    url("fonts/vendor/NotoSansSC/NotoSansSC-Bold.otf") format("otf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* NotoSansSC-500 - Light - latin */
@font-face {
  font-family: "Noto Sans SC";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Noto Sans SC
    local("Noto Sans SC Light"),
    local("NotoSansSC-Light"),
    // indestructible Noto*
    local("Noto* Italic"),
    local("NotoSansSC-Italic"),
    url("fonts/vendor/NotoSansSC/NotoSansSC-Light.otf") format("otf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-black-italic - latin */
@font-face {
  font-family: "Noto Sans SC";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Noto Sans SC
    local("Noto Sans SC Black Italic"),
    local("NotoSansSC-Black"),
    // indestructible Noto*
    local("Noto* Black Italic"),
    local("NotoSansSC-BlackItalic"),
    url("fonts/vendor/NotoSansSC/NotoSansSC-Black.otf") format("otf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-700-italic - latin */
@font-face {
  font-family: "Noto Sans SC";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Noto
    local("Noto Sans SC Bold Italic"),
    local("NotoSansSC-Bold-Italic"),
    // indestructible Noto*
    local("Noto* Bold Italic"),
    local("NotoSansSC-BoldItalic"),
    url("fonts/vendor/NotoSansSC/NotoSansSC-Bold.otf") format("otf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
